* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --licght-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1500px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    max-width: var(--site-max-width);
    padding: 0 20px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    background: var(--secondary-color);
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header {
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 15px;
}

.navbar .nav-menu .navlink {
    color: var(--white-color);
    padding: 10px 18px;
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .navlink:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/*Hero Section*/

.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}


.hero-section .hero-details .subtitle {
    font-size: var(--font-size-xl);
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);

}


.hero-section .hero-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}


.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 50px;
    border-radius: 100px;
}

/* ABout Section */
.about-section {
    padding: 120px 0;
    background: var(--licght-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    margin-top: 10px;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color)
}

/* Menu Section */

.menu-section {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
    justify-content: space-between;
    text-align: center;
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
}

.menu-section .menu-list .menu-item .name {
    margin: 12px o;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

/* Testimonials */

.testimonials-section {
    padding: 50px 0 100px;
    background: var(--licght-pink-color);
}

.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonials-section .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
    user-select: none;
}

.testimonials-section .testimonials .user-image {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    margin-bottom: 50px;
}


.testimonials-section .testimonials .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}


.testimonials-section .testimonials .feedback {
    line-height: 25px;

}

.testimonials-section .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-slider-button {
    color: var(--secondary-color);
    margin-top: -50px;
    transition: 0.2s ease;
}

.testimonials-section .swiper-slider-button:hover {
    color: var(--primary-color);
}

/* Gallery Section*/

.gallery-section {
    padding: 50px 0 100px;
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.gallery-section .gallery-list .gallery-item {
    width: calc(100% / 3 - 30px);
    overflow: hidden;
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius-s);
    cursor: zoom-in;
    transition: 0.5s ease;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3)
}

/* Contact Us Section */

.contact-section {
    background: rgb(255, 230, 234);
    padding: 50px 0 100px;
}

.contact-section .section-content {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20x 0;
    align-items: center;
    line-height: 35px;
}

.contact-section .contact-info-list .contact-info i {
    font-size: var(--font-size-m);

}

.contact-section .section-content .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 70px;
    outline: none;
    background: var(--white-color);
    border: 1px solid var(--medium-gray-color);
    border-radius: var(--border-radius-s);
    padding: 12px 12px;
    margin-bottom: 16px;
}

.contact-section .contact-form .form-input:focus {
    border-color: var(--primary-color);
}

.contact-section .contact-form .form-input textarea {
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button {
    width: 150px;
    padding: 10px 0;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.3s ease;
    margin-top: 10px;
}

.contact-section .contact-form .submit-button:hover {
    color: var(--primary-color);
    background: transparent;
    border-color: var(--primary-color);

}

/* Footer Section */

.footer-section {
    background: var(--dark-color);
    padding: 20px 0;
    color: var(--white-color);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color)
}

.footer-section :where(.policy-link, .social-link) {
    color: var(--white-color);
    transition: 0.2s ease;

}


.footer-section .policy-text .seperator{
    margin: 0 5px;
    color: var(--white-color)
}

/* Responsive media query or max width 1024px */
@media screen and (max-width: 1024px) {
    .menu-section .menu-list .menu-item {
        width: calc(100% / 3 - 60px);
    }

    .menu-section .menu-list {
        gap: 60px;
    }
}

/* Responsive media query or max width 900px for mobile devices */
@media screen and (max-width: 900px) {

    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu {
        display: block;
        background: var(--white-color);
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .navlink {
        color: var(--dark-color);
        font-size: var(--font-size-m);
        display: block;
        margin-top: 17px;
    }

    .hero-section .section-content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
    }

    .hero-section .hero-details :is(.subtitle, .description),
    .about-section .about-details,
    .contact-section .contact-form {
        max-width: 100%;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content {
        flex-direction: column;
        gap: 70px;
    }

    .about-section .about-image-wrappe .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list {
        gap: 30px;
    }

    .menu-section .menu-list .menu-item .menu-image {
        max-width: 200px;
    }

    .gallery-section .gallery-list {
        gap: 30px;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content {
        flex-direction: column-reverse;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:640px) {
    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        width: 100%;
    }

    .testimonials-section .slider-wrapper {
        margin-right: 0 0 25px;
    }

    .testimonials-section .swiper-slider-button {
        display: none;
    }

    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }

}